@charset "utf-8";

* {
	box-sizing: border-box;
}

.header {
	background-color: #e6e6e6;
}

.logo {
	width: 100px;
	height: 100px;
	margin-left: 40px;
	margin-right: 40px;
}

.clienteRutinas {
	background-color: #8F8F8F;
}

.inicioCliente {
	background-color: #182350;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	transition: all 0.3s ease-in-out;
}

.imagen {
	position: relative;
}

.imagen img {
	border-radius: 20px;
	box-shadow: 5px 8px 12px #4D4D4D;
	object-fit: cover;
}

.container-fluid {
	height: 100vh;
	width: 100%;
	display: flex;
}

.container-fluid .row {
	width: 50%;
}

.container-fluid .row .col-md-6 {
	width: 100%;
	padding: 20px;
}

.carrusel {
	width: 50%;
	margin: 0;
}

.carousel-item img {
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 0;
	transition: 1s ease;
	overflow: hidden;
	border-radius: 20px;
}

.overlay h2 {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
	height: 100%;
	cursor: pointer;
}

@media ( max-width : 1000px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media ( max-width : 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media ( max-width : 480px) {
	.container {
		grid-template-columns: 1fr;
	}
}

.titulo1 {
	text-align: center;
	color: white;
}

.contenedor {
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(/images/imagenInicio.jpg);
	background-size: cover;
	background-position: center;
}

@media ( max-width : 1000px) {
	.contenedor {
		background-position: right center;
	}
}

@media ( max-width : 768px) {
	.contenedor {
		background-position: right center;
	}
}

@media ( max-width : 480px) {
	.contenedor {
		background-position: right center;
	}
}

.navbar-nav {
	font-size: 1.2rem;
}

.pie-pagina {
	width: 100%;
	background-color: #4D4D4D;
}

.pie-pagina .grupo1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 30px 0px;
}

.pie-pagina .grupo1 .box figure img {
	width: 200px;
	margin-left: 50px;
}

.pie-pagina .grupo1 .box  h2 {
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
}

.pie-pagina .grupo1 .box  p {
	color: #252525;
	margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: white;
	margin-right: 10px;
	background-color: grey;
	text-align: center;
	transition: all 300ms ease;
	margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social a:hover {
	cursor: pointer;
	color: #182350;
}

.pie-pagina .grupo2 {
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: white;
}

@media screen and ( max-width : 550px) {
	.pie-pagina .grupo1 {
		width: 90%;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		padding: 35px 0px;
	}
}

.rutina-semanal {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
	margin: 70px;
}

.clienteSemanas {
	position: relative;
}

.clienteSemanas::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("/images/fondoGym.jpg");
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	z-index: -1;
}

.rutina-semanal .cuadro {
	overflow:hidden;
	border-radius: 20px;
	background-color: grey;
	box-shadow: 5px 8px 12px #0a1a2a;
	padding: 25px 0px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.rutina-semanal .cuadro:hover{
	transform: scale(1,1);
	box-shadow: 13px 15px 37px #0a1a2a;
}

.rutina-semanal .cuadro .texto-semana{
	text-align: center;
	color: white;
	font-size: 30px;
}

.cuerpo-dia-rutina{
	background-color: #0a1a2a;
}

.cuerpo-dia-rutina .dia-semana{
	text-align: center;
	color: white;
}

.cuerpo-dia-rutina .cuadro-ejercicio{
	background-color: grey;
}