<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrar Ejercicio Realizado</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h1 th:if="${ejercicioRealizado.id_ejercicio_realizado==null}" class="text-center">Registro
					de Objetivos</h1>
				<h1 th:unless="${ejercicioRealizado.id_ejercicio_realizado==null}" class="text-center">Edición
					de Objetivos</h1>
				<div class="card-body">
					<form th:action="@{/ejerciciosRealizados}"
						th:object="${ejercicioRealizado}" method="post">
						<input type="hidden" th:field="*{id_ejercicio_realizado}" th:value="${ejercicioRealizado.id_ejercicio_realizado}">
						<div class="form-group">
							<label>Peso:</label> <input type="text" name="peso_levantado"
								th:field="*{peso_levantado}" class="form-control"
								placeholder="Digite el peso levantado">
						</div>
						<div class="form-group">
							<label>Series:</label> <input type="text"
								name="series_realizadas" th:field="*{series_realizadas}"
								class="form-control" placeholder="Digite el número de series">
						</div>
						<div class="form-group">
							<label>Repeticiones:</label> <input type="text"
								name="repeticiones_realizadas"
								th:field="*{repeticiones_realizadas}" class="form-control"
								placeholder="Digite el número de repeticiones">
						</div>
						<div class="form-group">
							<label>Persona:</label> <input type="text" class="form-control" name="cliente.persona_id"
								th:value="${persona_id}">
						</div>
						<div class="form-group">
							<label>Actividad:</label> <input class="form-control" type="text"
								name="ejercicio.id_actividad"
								th:value="${actividad_id}">
						</div>

						<div class="form-group">
							<label>Fecha:</label> <input  type="date" name="fecha"
								th:field="*{fecha}" class="form-control">
						</div>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>